In [1]:
import re
import pandas as pd
import csv
from datetime import datetime

def is_create(line):
    return 'CREATE TABLE' in line or False

def is_insert(line):
    return 'INSERT INTO' in line or False

def is_finish(line):
    return ';' in line or False

def get_table_name_create(line):
    match = re.search('CREATE TABLE IF NOT EXISTS `([0-9_a-zA-Z]+)`', line)
    if match:
        return match.group(1)
    else:
        print(line)
        
def get_table_name_insert(line):
    match = re.search('INSERT INTO `([0-9_a-zA-Z]+)`', line)
    if match:
        return match.group(1)
    else:
        print(line)

def create_csv_file(filename):
    filename += ".csv"
    open(filename, 'w')

def set_values_insert(line, file):
    #s = ","
    p = re.compile('`([0-9_a-zA-Z]+)`')
    writer = csv.writer(file)
    writer.writerow(p.findall(line)[1:])
                    
def sql_to_csv(sqlfile):
    reader = open(sqlfile, 'r', encoding='utf-8')
    contenu = reader.read()
    lines = contenu.split("\n")
    nb_table = 0
    insert = False
    for line in lines:
        if insert and (not is_insert(line)):
            writer = csv.writer(file)
            writer.writerow(line[1:-2].split(", "))
        if is_create(line):
            create_csv_file(get_table_name_create(line))
            nb_table += 1
        if is_insert(line):
            filename = get_table_name_insert(line)
            insert = True
            file = open(filename+".csv", 'a')
            set_values_insert(line, file) 
        if is_finish(line):
            insert = False
    print("Il y a", nb_table, "tables")
        
deb = datetime.now()
sql_to_csv("traceforum.sql")
fin = datetime.now()
print(deb, fin)

Il y a 10 tables
2019-11-22 09:49:10.920069 2019-11-22 09:49:11.249694

In [2]:
data = pd.read_csv("activite.csv", encoding='latin-1') 
data.head()

   IDAct                                          Titre  TypeAct  IDCat
0      1                   'Visiter un lien hypertexte'        0      1
1      2         'Afficher une structure (cours,forum)'        0      1
2      3  'Afficher les titres des message d''un forum'        1      1
3      4            'Afficher le contenu d''un message'        1      2
4      5                                    'Connexion'        0      3

In [3]:
data = pd.read_csv("categorie.csv", encoding='latin-1') 
data.head()

   IDCat                                          Titre
0      1                            'Parcours du forum'
1      2  'Operation sur les messages de communication'
2      3                         'Communication privee'
3      4                         'Personnalisation IHM'

In [2]:
data = pd.read_csv("transition.csv", encoding='latin-1') 
data.head()

,IDTran,Utilisateur,Titre,Attribut,Date,Heure,Delai,RefTran,Commentaire
0,1,'tdelille','Connexion','login=tdelille','2009-02-12','11:33:55',NaN,0,NaN
1,2,'tdelille','Afficher une structure (cours/forum)','IDForum=7','2009-02-12','11:33:58',NaN,0,NaN
2,166,'mmay','RÃ©pondre Ã un message',"'IDForum=7,IDMsg=1184,IDParent=1183'",'2009-02-13','03:40:13','00:09:46',0,NaN
3,165,'mmay','Afficher le fil de discussion',"'IDForum=7,IDMsg=1163'",'2009-02-13','03:30:13','00:00:03',0,'Scrollbar inactive'
4,163,'mmay','Afficher le fil de discussion',"'IDForum=7,IDMsg=1163'",'2009-02-13','03:27:50',NaN,0,NaN

In [10]:
data = pd.read_csv("cleaned_events.csv", encoding='latin-1') 
data.head()

,id,timestamp,experiment,activity,userType,userId,action,data,data2
0,0,2019-01-06 18:59:29,exp1,26_300,teacher,-1,CHANGE_SLIDE,10,11
1,1,2019-01-06 19:01:00,exp1,26_300,teacher,-1,CHANGE_SLIDE,11,12
2,2,2019-01-06 19:01:52,exp1,26_300,teacher,-1,CHANGE_SLIDE,12,11
3,3,2019-01-06 19:01:53,exp1,26_300,teacher,-1,CHANGE_SLIDE,11,10
4,4,2019-01-06 19:01:53,exp1,26_300,teacher,-1,CHANGE_SLIDE,10,9

In [11]:
data = pd.read_csv("slide_quality.csv", encoding='latin-1') 
data.head()

,experiment,activity,slide,NEED_ANSWER,NEED_SLOW,RESOURCE_DISLIKE,RESOURCE_LIKE
0,exp1,36_378,0,0,0,4,3
1,exp1,36_378,1,0,8,0,0
2,exp1,36_378,2,0,1,0,2
3,exp1,36_378,9,0,0,1,0
4,exp1,36_378,10,0,0,1,1

In [13]:
data = pd.read_csv("cleaned_resources.csv", encoding='latin-1') 
data.head()

,id,timestamp,experiment,activity,url,title,description,mime
0,0,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Cycle_en_V,Cycle en V,Cycle en V,ressources_externes
1,1,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/V_(comics),V (comics),V (comics),ressources_externes
2,2,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Architecture_des_...,Architecture des moteurs Ã pistons,Architecture des moteurs Ã pistons,ressources_externes
3,3,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Bicyclette,Bicyclette,Bicyclette,ressources_externes
4,4,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Anglais,Anglais,Anglais,ressources_externes

In [3]:
data = pd.read_csv("transition.csv", encoding='latin-1') 
def actionDate(data, Action, Utilisateur, Date):
    return data[(data['Titre'] == Action) & (data['Utilisateur'] == Utilisateur) & (data['Date'] == datetime.strptime(Date, "'%Y-%m-%d'").date())].count()['Date']

print(actionDate(data, "'Connexion'", "'tdelille'","'2009-02-12'"))
print(actionDate(data, "'Afficher le contenu d''un message'", "'mmay'","'2009-02-13'"))
print(actionDate(data, "'Répondre à un message'", "'mmay'","'2009-02-13'"))

TypeError: actionDate() missing 1 required positional argument: 'Date'